#youtube-helper-overlay-main{
    position:fixed;
    display:block;
    width: 200%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 99999;
    cursor: pointer;
}
#youtube-helper-overlay-main{
    position: absolute;
    width:100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}